<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Signup</title>
        
        
    </head>
    <body>
        <h2>Food-pickup App</h2>
        <h4>Create a User Account</h4>
        <br>
        
        <form action="/add-dish" method="post" id="signup">
            
         <!-- <label for="restaurant-name">Restaurant name:</label>
            <input type="text" name="restaurant-name"> -->
            <br>
            <br>
            <label for="first-name">name</label>
            <input type="text" name="name">
            <br>
            <br>
            <label for="last-name">description</label>
            <input type="text" name="description">
            <br>
            <br>
            <label for="phone-number">Price</label>
            <input type="text" name="price">
            <br>
            <br>
            <label for="email">foddC</label>
            <input type="text" name="food_category">
            <br>
            <br>
            <label for="password">vegan</label>
            <input type="text" name="vegan">
            <br>
            <br>
            <label for="address">gluten</label>
            <input type="text" name="gluten_free">
            <br>
            <br>
            <label for="city">picture</label>
            <input type="text" name="picture_url">
            <br>
            <br>
            <label for="postal-code">rating</label>
            <input type="text" name="rating"> 
            <button type="submit" form="signup" value="Submit" style="position: relative;">Submit</button>
        </form>
        <br>
        <p>If you're already registered, go to <a href="/login">Login</a></p>
    </body>
</html>