<!DOCTYPE html>
<html lang="en">

<head>
  <title>Food-pickup app</title>

  <meta charset="UTF-8" >
  <meta http-equiv="X-UA-Compatible" content="IE=edge" >
  <meta name="viewport" content="width=device-width, initial-scale=1.0" >

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/layout.css" />

  <script src="/vendor/jquery-3.0.0.js"></script>
  <script defer src="/scripts/app.js"></script>
</head>

<body>
  <h1>Welcome to the Food-pickup App</h1>
  <br>
  <br>
  <div>
    <h3>If you're a restaurant owner and want to register<br>
        Click here:</h3>
    <a href="signup.ejs">
      <button id="rest-btn">Signup</button>
    </a>
  </div>
  <div>
      <h3>If you're a user and want to register<br>
          Click here:</h3>
      <a href="./signup.ejs">
        <button id="user-btn">Signup</button>
      </a>
  </div>
  <p>For checking the menu <br>
      <a href="./menu.ejs">
        <button>Menu</button>
      </a>   
  
</body>

</html>