<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title> The Cupcake Shop </title>

  <!-- Link to css -->
  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/header.css" type="text/css" />
  <link rel="stylesheet" href="/styles/main-page.css" type="text/css" />

  <script src="/vendor/jquery-3.0.0.js"></script>
  <script defer src="/scripts/app.js"></script>
  <script defer src="/scripts/cart.js"></script>
  <script defer src="/scripts/users.js"></script>
  <script defer src="/scripts/restaurent.js"></script>
  <script defer src="/scripts/userOrderAndCart.js"></script>

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap" rel="stylesheet">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Satisfy&display=swap" rel="stylesheet">

  <!-- Bootstrap -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet">

  <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.1/css/mdb.min.css" rel="stylesheet">

  <!-- JQuery -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>


</head>

<body>

  <section class="main">

    <header>
      <%-include('partials/_header') %>
    </header>

    <section id="menu">
      <h1 class="feature"> Feature Cupcakes <br></h1>
      <p class="message"> the month of love </p>

      <div class="feature_img">
        <div class="content_img">
          <img class="menu-img second" src='/images/CherryLoveCupcake.jpeg'>
            <div class="text1"> Cherry Love Cupcake </div>
        </div>
        <div class="content_img">
          <img class="menu-img second" src='/images/SweetHeartCupcake.jpeg'>
          <div class="text"> Sweet Heart Cupcake </div>
        </div>
      </div>
      </div>
    </section>
      <a class="btn-full btn" href="/menu">view menu for more cupcakes</a>

    <section id="about-us">
      <h1 class="subtitle"> About Us <br></h1>
      <p class="description"> Welcome to our cozy cupcake shop, where we believe in spreading joy one sweet treat at a time! Our bakery is the perfect place to satisfy your sweet tooth with our delectable cupcakes, baked fresh daily with high-quality ingredients. Whether you're looking for a classic flavor or a unique and creative combination, we've got you covered. Our team of talented bakers takes pride in creating delicious and beautifully decorated cupcakes that are sure to delight your taste buds and brighten your day. So come on in, grab a cupcake or two, and let us bring a little bit of sweetness into your life. </p>
    </section>

    <section id="location">
      <h1 class="location"> Where we are located <br></h1>

        <div class="map"><img class="locationImg" src=""><div> ADD MAP PHOTO

        <div class="contact">
          <p class="info"> ADDRESS <br> PHONE <br> HOURS </p>
          <a class="btn btn-full order" href="/menu">Order now</a>
          <br>
        </div>
    </section>

    <!-- Footer -->
    <footer class="footer">

    </footer>

</section>

</body>

</html>
