<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <h2>Food pickup app</h2>
    <h4>Login:</h4>
    <br>
    <br>
    <form action="/login" method="post" id="login">
        <label for="email">Email:</label>
        <input type="email" name="email">
        <br>
        <br>
        <label for="password">Password:</label>
        <input type="password" name="password">
        <button type="submit" form="login" value="Submit" style="position: relative;">Submit</button>
    </form>
    <br>
    <p>If you're not registered, go to <a href="/register">Register</a></p>
</body>
</html>