<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
      integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
      crossorigin="anonymous" referrerpolicy="no-referrer" />

    <title>Orders</title>
  </head>
  <body>
    <h1>Orders</h1>
    <table>
      <thead>
        <tr>
          <th>Order ID</th>
          <th>User ID</th>
          <th>Total Price</th>
        </tr>
      </thead>
      <tbody id="order-list">
        <% placedOrders.forEach(function(order) { %>
          <tr>
            <td><%= Orders.order_id %></td>
            <td><%= orders.user_id %></td>
            <td><%= orders.order_total_price %></td>
          </tr>
        <% }); %>
      </tbody>
    </table>
    <form id="order-form">
      <label for="user-id">User ID:</label>
      <input type="text" name="user_id" id="user-id" />
      <label for="total-price">Total Price:</label>
      <input type="text" name="order_total_price" id="total-price" />
      <button type="submit">Submit</button>
    </form>
    </body>
    </html>