<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Signup</title>
        
        
    </head>
    <body>
        <h2>Food-pickup App</h2>
        <h4>Create a User Account</h4>
        <br>
        <form action="/signup" method="post" id="signup">
            <label for="restaurant-name">Restaurant name:</label>
            <input type="text" name="restaurant-name">
            <br>
            <br>
            <label for="first-name">First name:</label>
            <input type="text" name="first-name">
            <br>
            <br>
            <label for="last-name">Last name:</label>
            <input type="text" name="last-name">
            <br>
            <br>
            <label for="phone-number">Phone number:</label>
            <input type="text" name="phone-number">
            <br>
            <br>
            <label for="email">Email:</label>
            <input type="email" name="email">
            <br>
            <br>
            <label for="password">Password:</label>
            <input type="password" name="password">
            <br>
            <br>
            <label for="address">Address:</label>
            <input type="text" name="address">
            <br>
            <br>
            <label for="city">City:</label>
            <input type="text" name="city">
            <br>
            <br>
            <label for="postal-code">Postal code:</label>
            <input type="text" name="postal-code"> 
            <button type="submit" form="signup" value="Submit" style="position: relative;">Submit</button>
        </form>
        <br>
        <p>If you're already registered, go to <a href="/login">Login</a></p>
    </body>
</html>